:root {
    --cor-fundo: #f0f2f5;
    --cor-card: #380c8a;
    --cor-texto-primario: #ffffff;
    --cor-texto-secundario: #606770;
    --cor-borda: #dcdfe3;
    --cor-acento: #007bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #180b2c;
    color: var(--cor-texto-primario);
}

a {
    text-decoration: none;
}

.card {
    background-color: var(--cor-card);
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 320px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: center;

    & .card_image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(55, 0, 100, 0.438);
}

.card_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
